# This is Git's per-user configuration file.
[user]
	name = Erin Hochstatter
	email = ehochstatter@gmail.com

[github]
  user = ehochstatter

[alias]
	co = checkout
  cob = checkout -b
  st = status
  br = branch
  ci = commit -a -m
  pl = pull
  di = diff --color-words
  gl = log --graph --abbrev-commit --pretty=oneline --decorate
  this = !git init && git add . && git commit -m "initial commit"
  amend = !git log -n 1 --pretty=tformat:%s%n%n%b | git commit -F - --amend
  hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
[core]
	excludesfile = /Users/erin/.gitignore
[diff "sopsdiffer"]
	textconv = sops -d
